KAFKA_BROKERS=localhost:9094
KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8080
KAFKAJS_NO_PARTITIONER_WARNING=1

PRODUCER_API_PORT=3000
PRODUCER_KAFKA_CLIENT_ID=producer-api-client
PRODUCER_KAFKA_GROUP_ID=producer-api-group

CONSUMER_API_PORT=3001
CONSUMER_KAFKA_CLIENT_ID=consumer-api-client
CONSUMER_KAFKA_GROUP_ID=consumer-api-group

DASHBOARD_PORT=4200
NEXT_PUBLIC_PRODUCER_API_URL=http://localhost:3000/api
NEXT_PUBLIC_CONSUMER_API_URL=http://localhost:3001/api
NEXT_PUBLIC_KAFKA_UI_URL=http://localhost:8080
